<!--    Auteur: Samuel Dubé
        Date de création: 2018/01/02
        Date dernière modification: 2018/01/27
        Description: Page web pour montrer le profil utilisateur
-->
<!DOCTYPE html>

<html lang="fr">
    <% include ../partials/header %>
    <% include ../partials/banner %>
    <% include ../partials/nav %>
    <body>
        <section class="container-fluid pt-5">
            <div class="col-4 text-center mx-auto">
                <form action="/profil/<%= user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <img class="img-fluid" src="/avatar/<%=user.avatar%>">
                    <div class="input-group mb-2">
                        <label class="float-left mr-2" style="line-height: 2em;"><b>Avatar :</b></label>
                        <input type="file" class="form-control" name="updated[avatar]">
                    </div>
                    <div class="input-group mb-2">
                        <label class="float-left mr-2" style="line-height: 2em;"><b>First Name :</b></label>
                        <input type="text" class="form-control" name="updated[firstname]" value="<%=user.firstname%>">
                    </div>
                    <div class="input-group mb-2">
                        <label class="float-left mr-2" style="line-height: 2em;"><b>Last Name :</b></label>
                        <input type="text" class="form-control" name="updated[lastname]" value="<%=user.lastname%>">
                    </div>
                    <div class="input-group mb-2">
                        <label class="float-left mr-2" style="line-height: 2em;"><b>Email :</b></label>
                        <input type="text" class="form-control" name="updated[email]" value="<%=user.email%>">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Save <i class="icon save"></i></button>
                </form>
            </div>
        </section>
    </body>
    <% include ../partials/footer %>
    <% include ../partials/script %>
</html>