<!--    Auteur: Samuel Dubé
        Date de création: 2018/01/02
        Date dernière modification: 2018/01/27
        Description: Page web pour montrer le profil utilisateur
-->
<!DOCTYPE html>

<html lang="fr">
    <% include ../partials/header %>
    <% include ../partials/banner %>
    <% include ../partials/nav %>
    <body>
        <section class="container-fluid pt-5">
            <div class="col-10 text-center mx-auto">
                <div class="row">
                    <div class="col-4">
                        <table class="table">
                            <thead>
                                <tr><td colspan="2"><h3>Information <a href="/profil/<%= user._id%>/edit"><i class="icon write pl-5"></i></h3></td></tr>
                            </thead>
                            <tbody>
                                <tr><td>Username </td><td><h6><%= user.username %></h6></td></tr>
                                <tr><td>Name </td><td><h6><%= user.firstname + " " + user.lastname  %></h6></td></tr>
                                <tr><td>Email </td><td><h6><%= user.email %></h6></td></tr>
                                <tr><td>Avatar</td><td><img class="img-fluid" src="/avatar/<%=user.avatar%>"></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-8">
                    <h3 class="my-3">Your Campgrounds</h3>
                    <% camp.forEach(function(camp){ %>
                        <div class="row mb-2 user-camp">
                            <div class="col-4 user-camp-img" style="background-image: url('/camp/<%=camp.information.img[0]%>');">
                            </div>
                            <div class="col-8 user-camp-info">
                                <p>
                                    <a href="/home/<%=camp._id%>/edit"><i class="icon blue large write float-left"></i></a>
                                    <b><%= camp.information.name %></b>
                                </p>
                                <form class="test" action="/home/<%=camp._id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn float-right"><i class="icon red delete"></i></button>
                                </form>
                                <p><%= camp.information.desc.substring(0 , 200)%></p>
                            </div>
                        </div>
                    <% }) %>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
    <% include ../partials/footer %>
    <% include ../partials/script %>
</html>